<footer>
    <div>
        <h2 class="text-center">Title</h2>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Ad, voluptas?</li>
            <li>Obcaecati, iste.</li>
            <li>Maxime, incidunt!</li>
            <li>Omnis, temporibus.</li>
            <li>Quibusdam, suscipit.</li>
            <li>Enim, eveniet!</li>
        </ul>
    </div>
    <div>
        <h2 class="text-center">Title</h2>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Ad, voluptas?</li>
            <li>Obcaecati, iste.</li>
            <li>Maxime, incidunt!</li>
            <li>Omnis, temporibus.</li>
            <li>Quibusdam, suscipit.</li>
            <li>Enim, eveniet!</li>
        </ul>
    </div>

    <div>
        <h2 class="text-center">Title</h2>
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Ad, voluptas?</li>
            <li>Obcaecati, iste.</li>
            <li>Maxime, incidunt!</li>
            <li>Omnis, temporibus.</li>
            <li>Quibusdam, suscipit.</li>
            <li>Enim, eveniet!</li>
        </ul>
    </div>

    <div>
        <ul>
            <h2 class="text-center">Title</h2>
            <li>Lorem, ipsum.</li>
            <li>Ad, voluptas?</li>
            <li>Obcaecati, iste.</li>
            <li>Maxime, incidunt!</li>
            <li>Omnis, temporibus.</li>
            <li>Quibusdam, suscipit.</li>
            <li>Enim, eveniet!</li>
        </ul>
    </div>
    <div class="copy">
        &copy; 2021 Consejo oficial Leonardos
    </div>
</footer>
