<footer>
    <div>
        <h2 class="text-center">Powered by:</h2>
        <ul>
            <li><a href="https://github.com/leoar0810">leoar0810</a></li>
            <li><a href="https://github.com/vergaradl">vergaradl</a></li>
            <li><a href="https://github.com/leolizc">leolizc</a></li>
        </ul>
    </div>



    <div class="copy">
        &copy; 2021 Consejo oficial Leonardos
    </div>
</footer>
