    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/"> <i class="fas fa-tasks"></i> Tasks App</a>
        <div class="navbar-menu">
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="#">Other</a></li>
            </ul>
        </div>
    </nav>