@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

@font-face {
    font-family: 'Andada Pro', serif;
    src: url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Roboto:wght@100&display=swap');
}

@font-face {
    font-family: 'Oswald', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Oswald:wght@300&family=Roboto:wght@100&display=swap');
}
