<section id="about">
     <div class="container-dev">
          <div class="title">
          <h1>Developers</h1>
          </div>
          <div class="row_about"> 

               <div class="item-developer">
                    <div class="team-thumb">
                         <img class="img-developer" src="/images/leonardoA.jpg" class="img-responsive" alt="Aguilera">
                         <div class="team-info team-thumb-up">
                              <h2>Leonardo Aguilera</h2>
                              <small>Uninorte student</small>
                              <p>Email: lmaguilera@uninorte.edu.co</p>
                         </div>
                    </div>
               </div>

               <div class="item-developer">
                    <div class="team-thumb">
                         <div class="team-info team-thumb-down">
                              <h2>Leonardo Lizcano</h2>
                              <small>Uninorte student</small>
                              <p>Email: ldlizcano@uninorte.edu.co</p>
                         </div>
                         <img class="img-developer" src="/images/leonardoL.jpeg" class="img-responsive" alt="Lizcano">
                    </div>
               </div>

               <div class="item-developer">
                    <div class="team-thumb">
                         <img class="img-developer" src="/images/leonardoV.jpeg" class="img-responsive" alt="Vergara">
                         <div class="team-info team-thumb-up">
                              <h2>Leonardo Vergara</h2>
                              <small>Uninorte student</small>
                              <p>Email: vergaradl@uninorte.edu.co</p>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
</section>