<div class="ex">
    <h1>Coronavirus (COVID-19) World Trace</h1>
    
    <section class="ex__map">
        <h2>World Map</h2>
        <div class="ex__map__area">
            <div class="ex__map__area__popover" visible="false">
                <h1></h1>
                <p></p> <p></p>
            </div>

            <div class="dropdowns">
                <div class="dropdown dropdown-var">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Total cases
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Total cases</li>
                        <li class="dropdown-item">Total cases per million</li>
                        <li class="dropdown-item">Total deaths</li>
                        <li class="dropdown-item">Total deaths per million</li>
                    </ul>
                </div>
    
                <div class="dropdown dropdown-per">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Last week
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Last week</li>
                        <li class="dropdown-item">Last month</li>
                        <li class="dropdown-item">Historic</li>
                    </ul>
                </div>
            </div>
            <svg class="ex__map__area__chart"></svg>
        </div>
    </section>

    <section class="ex__bar">
        <svg class="ex__bar__chart"></svg>
    </section>

    <section class="ex__bar2">
        <svg class="ex__bar2__chart"></svg>
    </section>
    
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- <script src="https://d3js.org/topojson.v0.min.js"></script> -->
<!-- <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script> -->

<script src="./js/mapChart.js" type="module"></script>
<script src="./js/barChart.js"></script>
<script src="./js/barChart2.js"></script>
