<div class="ex">
    <h1>Coronavirus (COVID-19) World Trace</h1>

    <section class="ex__map">
        <h2>World Map</h2>
        <div class="ex__map__area">
            <div class="ex__map__area__popover" visible="false">
                <h1></h1>
                <p></p>
                <p></p>
            </div>

            <div class="dropdowns">
                <div class="dropdown dropdown-var">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Total cases
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Total cases</li>
                        <li class="dropdown-item">Total cases per million</li>
                        <li class="dropdown-item">Total deaths</li>
                        <li class="dropdown-item">Total deaths per million</li>
                    </ul>
                </div>

                <div class="dropdown dropdown-per">
                    <a class="btn btn-secondary dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Last week
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Last week</li>
                        <li class="dropdown-item">Last month</li>
                        <li class="dropdown-item">Historic</li>
                    </ul>
                </div>
            </div>
            <svg class="ex__map__area__chart"></svg>
        </div>
    </section>

    <section class="ex__bar" ">
        <h2>Continental Summarized Data</h2>
        <div class=" grid-chart">
        <div class="ex__bar__area">
            <form action="" class="ex__bar__area__form">
                <div class="ex__bar__area__form__form-group">
                    <select class="form-select" id="period" aria-label="Default select example">
                        <option selected>Select Period</option>
                        <option value="1">Last Week</option>
                        <option value="2">Last Month</option>
                        <option value="3">All</option>
                    </select>
                </div>
                <div class="ex__bar__area__form__form-group">
                    <select class="form-select" id="filter_t" aria-label="Default select example">
                        <option selected>Select Filter</option>
                        <option value="1">Total Deaths</option>
                        <option value="2">Total Cases</option>
                        <option value="3">Total Cases per Million</option>
                        <option value="4">Total Deaths per Million</option>
                    </select>
                </div>
                <div class="ex__bar__area__form__form-group">
                    <button style="width: 100%;" type="button" class="btn btn-secondary"
                        onclick="update()">Update</button>
                </div>

            </form>
            <svg class="ex__bar__area__chart"></svg>
        </div>

        <div class="ex__bar__info">
            Explore through the bar graph how the coronavirus has affected the continents, you have filtering tools at your disposal to know how the pandemic has evolved throughout the history and also the number of deaths and infections.

        </div>
</div>
</section>

<section class="ex__line">
    <h2>Evolution Through Time</h2>
    <div class="grid-chart">
        <div class="ex__line__info">
            If you want to compare how the pandemic has affected the countries, you can use the following line graph to obtain information on the evolution of the coronavirus in the last days, weeks and months, additionally you can compare various factors, such as number of deaths and infections.

        </div>
        <div class="ex__line__area">

            <form class="ex__line__area__form">
                <div class="ex__line__area__form__form-group" id="form-input-var">
                    <select class="form-select" id="filter_t" aria-label="Default select example">
                        <option selected>Select Filter</option>
                        <option value="1">Total Deaths</option>
                        <option value="2">Total Cases</option>
                        <option value="3">Total Cases per Million</option>
                        <option value="4">Total Deaths per Million</option>
                    </select>
                </div>

                
                <div class="ex__line__area__form__form-group" id="form-input-group">
                    <select class="form-select" id="period" aria-label="Default select example">
                        <option selected>Select Group</option>
                        <option value="1">Day</option>
                        <option value="2">Week</option>
                        <option value="3">Month</option>
                    </select>
                </div>
                
                <div class="ex__line__area__form__form-group" id="form-input-period">
                    <input type="number" placeholder="Period [1, 20]" min="1" max="20"/>
                </div>


                <div class="ex__line__area__form__form-group" id="form-input-country">
                    <input 
                        type="text" 
                        data-autocomplete autocomplete-minlength="1" 
                        data-autocomplete-source="/api/countries" 
                        placeholder="Country" 
                    />
                    <button type="button" class="">&plus;</button>
                </div>
                <div class="ex__line__area__form__badge-area">
                    <!-- <span class="badge badge-primary" style="background-color: red;">
                        Primary
                        <button type="button" class="close" aria-label="Close" style="border: none; background-color: inherit;">
                            &times;
                        </button>
                    </span> -->
                </div> 
                <div class="ex__line__area__form__form-group" id="form-submit-linechart">
                    <button type="button" class="btn btn-secondary">
                        Update
                    </button>
                </div>

            </form>
            <canvas class="ex__line__area__chart"></canvas>

        </div>

    </div>
</section>

<script type="text/javascript" src="./js/autocomplete.js"></script>
<script type="text/javascript">
    var element = document.querySelector('input');
    var autoComplete = new AutoComplete(element);

    element.onkeyup = function () {
        autoComplete.getSuggestionList();
    }
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- <script src="https://d3js.org/topojson.v0.min.js"></script> -->
<!-- <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script> -->

<script src="./js/mapChart.js" type="module"></script>
<script src="./js/barChart.js"></script>
<script src="./js/lineChart.js"></script>
<script src="./js/barchart_chartjs.js"></script>
