<div class="ex">
    <section class="ex__map">
        <svg class="ex__map__chart"></svg>
    </section>
    
    
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<!-- <script src="https://d3js.org/topojson.v0.min.js"></script> -->
<!-- <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script> -->

<script src="./js/mapChart.js" type="module"></script>
