
<header class="ho__showcase">
    <div class="ho__showcase__main">
        <div class="ho__showcase__main__item">
            <h1>Coronavirus Pandemic Data</h1>
            <p>Stay informed about the day-to-day of the pandemic around the world.</p>
            <p style="width: 80%;margin-top: 20px;">On this page you can find detailed and updated information about the coronavrius, 
you can consult information from a varied set of graphs and tools that allow you to filter the information that you need.</p>
            <a href="/explore">
                <input type="button" value="Explore" class="btn btn-simple">
             </a>
        </div>
        <div class="ho__showcase__main__item"></div>
    </div>
</header>

<div class="ho__info">
    <div>
        <img src='/images/usa.jpg' alt="">
        <h2>U.S.A.</h2>
        <p>The United States is the country that has had the most deaths during the pandemic with a total of 716,471 deaths. Additionally, it has had 44562693 reported cases, which indicates a percentage of 1.6% of deaths.</p>
    </div>
    <div>

        <img src='/images/europa.jpg' alt="">
        <h2>Europe</h2>
        <p>At continental level Europe is the top 1 in number of deaths with a total of 1'253,579, which corresponds approximately to the population of Equatorial Guinea.</p>
    </div>
    <div>

        <img src='/images/world.jpg' alt="">
        <h2>World</h2>
        <p>Globally, 4'865,619 deaths have been reported, which corresponds to one to third of the total deaths caused by the Black Death.</p>
    </div>
    <div>
        <img src='/images/percent.png' alt="">
        <h2>Population</h2>
        <p>The coronavirus has been contracted by 3% of the world population, which indicates that 3 out of every 100 people have had this virus.</p>

    </div>
</div>
<!-- 


<div class="container">
    <div class="row">
        <div class="card">


            <form action="" id="formTask">
                <h2 class="text-center">Add Task</h2>
                <div class="form-group">
                    <input type="text" id="title" placeholder="Add A Todo" class="form-control">
                </div>
                <div class="form-group">
                    <textarea id="description" class="form-control" placeholder="Add a Description" name="name"
                        id="" cols="30" rows="8"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>

        </div>


    </div>

    <div id="tasks" class="tasks">

    </div>
</div>
-->
<!-- SCRIPTS -->
<script src="app.js"></script>
