    <div>
  <canvas id="myChart"></canvas>
</div>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>
  // === include 'setup' then 'config' above ===
  var fil = ["","total_deaths", "total_cases","total_cases_per_million","total_deaths_per_million"];
  var fil_imp = ["","Total Deaths", "Total Cases","Total Cases per Million","Total Deaths per Million"];
      function graf() {
          let per = ["week","month",""];
          var period = 1;
          var filter = 1;
          var query = new XMLHttpRequest();
          console.log(typeof(period));
          if(isNaN(period) || isNaN(filter)) {
              query.open('GET', '/api/continental/', true);
              filter =1;
          }else{
              query.open('GET', '/api/continental/'+per[period-1], true);
          }
          query.send();
          query.onreadystatechange = function() {
          if (query.readyState == 4 && query.status == 200) {
              var datos = JSON.parse(query.responseText);
              datos.splice(4,1);
              datos.splice(7,1);
              graficar(+filter, datos);
          }
      }
    }
function graficar () {
  datos.forEach(function(d){

    console.log(d[fil[filter]]);
    d.value = d[fil[filter]];

});
  const labels = datos.map(function(d){return d.location})
const data = {
  labels: labels,
  datasets: [{
    label: 'Continental Summarized Dtata',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: datos.map(function(d){return d.value}),
  }]
};
const config = {
  type: 'bar',
  data: data,
  options: {}
};
  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
}
graf();
</script>

