.row_about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.img-developer {
    width: 400px;
    height: 450px;
    border-radius: 5%;
}

.title {
    margin-top: 80px;

}
