
.ex {
    // position: absolute;
    margin-top: 60px;
    padding: 0 80px 80px 80px;
    // padding: 100px 80px 20px 80px;
    // height: 2000px;
    text-align: center;

    h1 {
        padding: 10px 0;
    }

    h2 {
        text-align: left;
    }

    section {
        margin-bottom: 60px;
    }
    
    &__map {

        &__area {
            background-color: #fff;
            margin: auto;
            border: 1px #4442 groove;
            width: 90%;
            text-align: center;
            box-shadow: 12px 12px 2px 1px rgba(169, 169, 169, .2);
            [visible="false"] {
                visibility: hidden;
            }

            &__popover {
                z-index: 10;
                position: absolute;
                padding: 10px 14px 6px 14px;
                border: groove 1px #2222;
                border-radius: 4px;
                background-color: #eeec;
                text-align: left;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                h1 {
                    font-size: $s-size;
                    font-weight: bold;
                    padding: 0;
                }

                p {
                    display: inline-block;
                    font-size: $xs-size;
                    padding: 0;
                }
                
            }

            .dropdowns {
                position: absolute;
                display: flex;
                flex-direction: row;
                transform: translate(20px, 20px);

                .dropdown {
                    padding: 0 10px;
                    a {
                        font-size: $xs-size;
                    }
                    li {
                        font-size: $xs-size;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }


            &__chart {
                width: 800px;
                padding: 10px;
    
                .country {
                    stroke: black;
                    stroke-opacity: 0.1;
    
                    &:hover {
                        stroke-opacity: 0.3;
                    }
                }
            }
        }
        
    }

    &__bar {

        .grid-chart {
            display: grid;
            grid-template-columns: 1fr 800px;
            // justify-items: end;
        }

        &__area {
            display: flex;
            justify-content: end;
            width: 800px;
            height: 440px;
            padding: 20px;
            border: 1px #4442 groove;
            background: #fff;
            box-shadow: 6px 6px 2px 1px rgba(169, 169, 169, .2);
            
            // padding-top: 40px;
            // &__chart {
            //     width: 950px;
            //     height: 600px;
            //     border: 10px solid #aaa;
                
            //     rect {
            //         fill: steelblue;
            //     }
                
            //     text {
            //         font-family: helvetica;
            //         font-size: 10px;
            //         text-anchor: middle;
            //     }
            // }
            &__form {
                position: absolute;
                display: flex;
                flex-direction: column;
                transform: translate(-590px, 20px);
                width: 160px;
                
                &__form-group {
                    width: 100%;
                    margin: 10px;
                    
                    select, option, button {
                        font-size: $xs-size;

                    }
                }
            }
            &__chart {
                max-width: 580px;
                max-height: 400px;
                margin: 0;
                text-align: right;
                // border: 0px solid #aaa;
            }
        }
        
        &__info {
            padding-right: 20px;
            text-align: justify;
        }
    }

    &__line {

        .grid-chart {
            display: grid;
            grid-template-columns: 1fr 800px;
            // justify-items: end;
        }

        &__area {
            display: flex;
            justify-content: end;
            width: 800px;
            height: 440px;
            padding: 20px;
            border: 1px #4442 groove;
            background: #fff;
            box-shadow: 6px 6px 2px 1px rgba(169, 169, 169, .2);
            
            &__form {
                position: absolute;
                display: flex;
                flex-direction: column;
                transform: translate(-585px, 20px);
                width: 180px;
                
                &__form-group {
                    width: 100%;
                    margin: 10px;
                    
                    select, option, button {
                        font-size: $xs-size;
                    }

                    button {
                        width: 100%;
                        // transform: translateY(100px);
                    }
                }

                &__badge-area {
                    
                }
            }
            &__chart {
                max-width: 580px;
                max-height: 400px;
                margin: 0;
                text-align: right;
                // border: 0px solid #aaa;
            }
        }
        
        &__info {
            padding-right: 20px;
            text-align: justify;
        }
    }

}

.autocomplete.dropdown {
    background-color: #F8F8F8;
    position: absolute;
    box-shadow: 0 1px 3px 0px;
    border-radius: 3px;
    border: 1px solid #FAFAFA;
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
}

.autocomplete.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete.dropdown ul li {
    padding: 4px 12px;
}

.autocomplete.dropdown ul li:hover {
    cursor: pointer;
}

.autocomplete.dropdown ul li.selected {
    background-color: #DFDFDF;
}