
.ex {
    // position: absolute;
    margin-top: 60px;
    padding: 0 80px 260px 80px;
    // padding: 100px 80px 20px 80px;
    // height: 2000px;
    text-align: center;

    h1 {
        padding: 10px 0;
    }

    h2 {
        text-align: left;
    }

    section {
        margin-bottom: 60px;
    }

    .section-info {
        text-align: justify;
        &__left {
            padding-right: 20px;
        }
        &__right {
            padding-left: 20px;
        }
    }
    
    &__map {

        &__area {
            background-color: #fff;
            margin: auto;
            border: 1px #4442 groove;
            width: 90%;
            text-align: center;
            box-shadow: 12px 12px 2px 1px rgba(169, 169, 169, .2);
            [visible="false"] {
                visibility: hidden;
            }

            &__popover {
                z-index: 10;
                position: absolute;
                padding: 10px 14px 6px 14px;
                border: groove 1px #2222;
                border-radius: 4px;
                background-color: #eeec;
                text-align: left;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                h1 {
                    font-size: $s-size;
                    font-weight: bold;
                    padding: 0;
                }

                p {
                    display: inline-block;
                    font-size: $xs-size;
                    padding: 0;
                }
                
            }

            .dropdowns {
                position: absolute;
                display: flex;
                flex-direction: row;
                transform: translate(20px, 20px);

                .dropdown {
                    padding: 0 10px;
                    a {
                        font-size: $xs-size;
                    }
                    li {
                        font-size: $xs-size;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }


            &__chart {
                width: 800px;
                padding: 10px;
    
                .country {
                    stroke: black;
                    stroke-opacity: 0.1;
    
                    &:hover {
                        stroke-opacity: 0.3;
                    }
                }
            }
        }
        
    }

    &__bar {

        .grid-chart {
            display: grid;
            grid-template-columns: 800px 1fr;
            // justify-items: end;
        }

        &__area {
            display: flex;
            justify-content: end;
            width: 800px;
            height: 440px;
            padding: 20px;
            border: 1px #4442 groove;
            background: #fff;
            box-shadow: 6px 6px 2px 1px rgba(169, 169, 169, .2);
            
            &__form {
                position: absolute;
                display: flex;
                flex-direction: column;
                transform: translate(-590px, 20px);
                width: 160px;
                
                &__form-group {
                    width: 100%;
                    margin: 10px;
                    
                    select, option, button {
                        font-size: $xs-size;

                    }
                }
            }

            &__chart {
                max-width: 580px;
                max-height: 400px;
                margin: 0;
                text-align: right;
            }
        }
    }

    &__line {

        .grid-chart {
            display: grid;
            grid-template-columns: 1fr 800px;
            // justify-items: end;
        }

        &__area {
            display: flex;
            justify-content: end;
            width: 800px;
            height: 440px;
            padding: 20px;
            border: 1px #4442 groove;
            background: #fff;
            box-shadow: 6px 6px 2px 1px rgba(169, 169, 169, .2);
            
            &__form {
                position: absolute;
                display: flex;
                flex-direction: column;
                transform: translate(-585px, 20px);
                width: 180px;
                
                &__form-group {
                    width: 100%;
                    margin: 10px;
                    display: flex;
                    
                    select, option, button {
                        font-size: $xs-size;
                    }
                    button {
                        width: 100%;
                    }
                    label {
                        height: min-content;
                        font-size: $xs-size;
                        margin: 12px 6px 0 0;
                    }
                }

                #form-input-country {
                    position: relative;

                    div {
                        margin-right: 6px;
                        input {
                            width: 100%;
                        }
                    }
                    button {
                        width: 20%;
                        height: 30px;
                        border: none;
                        border-radius: 2px;
                        background-color: $gray-600;
                        color: white;
                        font-size: $m-size;
                    }
                }

                #form-input-group select {
                    width: 65%;
                }

                &__badge-area {
                    display: flex;
                    // align-content: start;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 4px;

                    span {
                        display: flex;
                        background-color: $gray-600;
                        border-radius: 2px;
                        margin: 2px;
                        font-size: $xxs-size;
                        
                        p {
                            margin: 0 6px 0 0;
                            line-height: 20px;
                        }

                        button {
                            font-size: $s-size;
                            background-color: inherit;
                            border: none;
                            color: white;
                        }
                    }
                    
                }
            }
            &__chart {
                max-width: 580px;
                max-height: 400px;
                margin: 0;
                text-align: right;
                // border: 0px solid #aaa;
            }
        }
        
    }

}

.autocomplete.dropdown {
    background-color: #F8F8F8;
    position: absolute;
    box-shadow: 0 1px 3px 0px;
    border-radius: 3px;
    border: 1px solid #FAFAFA;
    z-index: 100;
    max-height: 250px;
    overflow-y: auto;
}

.autocomplete.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.autocomplete.dropdown ul li {
    padding: 4px 12px;
}

.autocomplete.dropdown ul li:hover {
    cursor: pointer;
}

.autocomplete.dropdown ul li.selected {
    background-color: #DFDFDF;
}

.notes { 
    margin-bottom: 15px; 
    padding: 4px 12px; 
} 
 
.danger { 
    background-color: #ffdddd; 
    border-left: 6px solid #f44336; 
} 
 
.success { 
    background-color: #ddffdd; 
    border-left: 6px solid #4CAF50; 
} 
 
.info { 
    background-color: #e7f3fe; 
    border-left: 6px solid #2196F3; 
} 
 
 
.warning { 
    background-color: #ffffcc; 
    border-left: 6px solid #ffeb3b; 
} 