.ex {
    padding: 20px 80px;
    height: 1200px;
    text-align: center;

    section {
        margin-bottom: 60px;
    }
    
    &__map {

        h2 {
            text-align: left;
        }

        &__area {
            margin: auto;
            border: 1px #4442 groove;
            width: 90%;
            text-align: center;

            [visible="false"] {
                visibility: hidden;
            }

            &__popover {
                z-index: 10;
                position: absolute;
                padding: 10px 14px 6px 14px;
                border: groove 1px #2222;
                border-radius: 4px;
                background-color: #eeec;
                text-align: left;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                h1 {
                    font-size: $s-size;
                    font-weight: bold;
                    padding: 0;
                }

                p {
                    display: inline-block;
                    font-size: $xs-size;
                    padding: 0;
                    // font-style: italic;
                }

                p:nth-child(1) {
                    color: red;
                    display: none;
                }

                
            }

            .dropdowns {
                position: absolute;
                display: flex;
                flex-direction: row;
                transform: translate(20px, 20px);

                .dropdown {
                    padding: 0 10px;
                    a {
                        font-size: $xs-size;
                    }
                    li {
                        font-size: $xs-size;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }


            &__chart {
                width: 800px;
                padding: 10px;
    
                .country {
                    stroke: black;
                    stroke-opacity: 0.1;
    
                    &:hover {
                        stroke-opacity: 0.3;
                    }
                }
            }
        }
        
    }

    &__bar {

        &__chart {
            border: 1px solid #aaa;
            
            rect {
                fill: steelblue;
            }
            
            text {
                font-family: helvetica;
                font-size: 10px;
                text-anchor: middle;
            }
        }
        
    }

    &__bar2 {

        &__chart {
            border: 1px solid #aaa;
            
            rect {
                fill: steelblue;
            }
            
            text {
                // font-family: helvetica;
                // font-size: 10px;
                // text-anchor: middle;
            }
        }
        
    }
}
