footer {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 20px;
    background-color: $gray-900;
    color: white;
    // top: 100%;
    bottom: 0;
    left: 0;

    h2 {
        font-size: $m-size;
        padding: 4px 0;
    }
    
    ul {
        padding: 0;
        li {
            font-size: $xs-size;
            text-align: center;
        }
    }

}
  
.copy {
    grid-column: 1/5;
    padding-top: 20px;
}
  