// Colors
$color-white: #fff;
$color-background-white: #fafafa;

$color-gray-light: #c6cacc;
$color-gray: #a3a9ac;

$color-blue-light: #59a1db;
$color-blue-medium: #4a8bd6;
$color-blue: #0070c5;
$color-blue-dark: #275b97;

// Font-Sizes
$xxs-size: 0.6rem;
$xs-size: 0.8rem;
$s-size: 1rem;
$m-size: 1.2rem;
$l-size: 1.6rem;
$xl-size: 3.2rem;

// 
